.character *,
body {
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 10rem;
}
.character {
  border: 1px solid #ffd600;
  width: 250px;
  box-sizing: border-box;
  margin: 2rem 1rem;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Londrina Solid", cursive;
  text-align: center;
}

.character .name {
  font-size: 1.5rem;
}

.character:hover {
  transform: scale(1.1);
}

.character p {
  margin-bottom: 0.7rem;
}

.character img {
  width: 200px;
  height: 200px;
  margin: 1rem auto;
}

.character .desciption {
  position: absolute;
  width: 250px;
  background-color: #f9a825;
  color: #fff;
  font-weight: 600;
  animation: description 0.4s forwards;
}

.character .desciption p {
  margin: 0;
  height: 1.5rem;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes description {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
